#header {
    text-align: center;
    background-image: url('images/pollution.jpg');
    background-repeat: no-repeat;
    height: 360px;
    background-position: 0 45%;
    padding: 0 2em;

}

/* Navihationsleiste stylen*/
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 2em;
    overflow: hidden;
    background-color: brown;
}

/* Navigationslinks stylen */
.topnav li {
    float: left;
    background-color: blueviolet;
}

.topnav li a {
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}