.header {
    width: 1280px;
    margin: auto;
    height: 80px;
    display: block;
    background-color: #101010;
    width: 80vw;

}


.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #101010;
}

.logo_container {
    height: 100%;
    /* 100% vom Header */
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}


.logo_container h1 span {
    font-weight: 800;
    color: white;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
}

body {
    width: 80vw;
    height: 80vh;
    margin: auto;

}

.background_image_licht {
    background-image: url('images/milky_way_1920.jpg');
    height: 250px;
    background-position: 0 50%;
    margin: auto;


}

.background_image_luft {
    background-image: url('images/milky_way_1920.jpg');
    height: 250px;
    background-position: 0 50%;
    margin: auto;


}

.background_image_laerm {
    background-image: url('images/milky_way_1920.jpg');
    height: 250px;
    background-position: 0 50%;
    margin: auto;


}

.background_image_about {
    background-image: url('images/milky_way_1920.jpg');
    height: 250px;
    background-position: 0 50%;
    margin: auto;


}

.background_image_index {
    background-image: url('images/milky_way_1920.jpg');
    height: 250px;
    background-position: 0 50%;
    margin: auto;


}




 h3 {
    float: left;
    margin-left: 0.2em;
    height: 90%;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-weight: 1000;
}

main p {
    border: 1px solid black;
    background-color: #5DBCD2;
    margin: auto;

}

#map {
    height: 900px;
    border: 1px solid black;
}